* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  background: #333;
}

h2 {
  font-size: 50px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form {
  background-color: rgba(32, 17, 59, 0.829);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  flex-flow: column;
  height: 150px;
  width: 70%;
  margin-bottom: 20px;
  padding: 50px;
}

.form input {
  margin-top: 10px;
  padding: 7px;
  border: none;
  border-radius: 20px;
  /* max-width: 100%; */
    width: 100%;
}

.submit {
  background-color: white;
  width: 100%;
  border: none;
  margin-top: 30px;
  color: black;
  border: 1px solid #fff;
  transition: all 0.4s;
  cursor: pointer;
}

.submit:hover {
  background-color: rgba(86, 21, 206, 0.829);
  color: #fff;
}

table {
  background-color: rgba(192, 192, 192, 0.3);
  width: 70%;
  color: #fff;
  text-align: center;
}

table thead {
  height: 50px;

}
table thead tr {
  color: rgba(32, 17, 59, 0.829);
    background: #fff;
  text-transform: uppercase;
    font-size: 17px;
  font-weight: 900;
}
td {
color: #fff;
font-size: 19px;

}

button {
  padding: 5px 14px;
  margin-left: 20px;
  margin-top: 10px;
  margin:10px 0;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.4s;
  cursor: pointer;
}

.deleteItom {
  background-color: rgba(204, 8, 8, 0.829);
}

.update {
  background: rgba(8, 248, 8, 0.829);
}

button:hover {
  background-color: rgba(32, 17, 59, 0.829);
  color: #fff;
}

.deleteAll {
    background-color: rgb(173, 9, 9);
  color:#fff;
    text-transform: uppercase;
      transition: all 0.4s;
  cursor: pointer;
}

.deleteAll:hover {
   background-color: red;
  color:#fff;
}